{{!-- Bootstrap CSS form from Finola's Challenge 14 --}}
<div class="row align-middle">
    <div class="login-header">  <!-- flex row -->
        <h2 class="p-1">Login</h2>
    </div>

    <div class="mb-3 mt-3">
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login" class="form-label">Username:</label>
                <input class="form-input form-control" type="text" id="email-login" />
            </div>

            <div class="form-group">
                <label for="password-login" class="form-label">Password:</label>
                <input class="form-input form-control" type="password" id="password-login" />
            </div>

            <div class="d-grid gap-3 mb-3">
                <button class="btn btn-secondary w-100" type="button">Login</button>
            </div>

            <div class="form-group">
                <button class="btn btn-secondary signup-btn" type="submit">Sign Up</button>
            </div>

            <div class="signup-link">
                <a href="/signup" class="link-dark">Sign Up</a>
            </div>
        </form>

    </div>

</div>

{{!-- script to send login credentials to API endpoint --}}
<script src="./js/login.js"></script>