<div class="row align-middle">
    <div class="col-auto">
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>

<div class="mb-3 mt-3">
    <div class="col-md-6">
        <h3>Create a New Blog:</h3>

        <!-- Form to create a new blog post -->
        <form class="form login-form">
            <div class="form-group">
                <label for="destination">Destination:</label>
                <input class="form-input form-control" type="text" id="destination" name="destination" />
            </div>
            <div class="form-group">
                <label for="rating" class="form-label">Trip Rating:</label>
                <input class="form-input form-control" type="number" id="rating" name="rating" />
            </div>
            <div class="form-group">
                <label for="budget" class="form-label">Budget:</label>
                <input class="form-input form-control" type="number " id="budget" name="budget" />
            </div>
            <div class="form-group">
                <label for="lodging" class="form-label">Lodging:</label>
                <input class="form-input form-control" type="text" id="lodging" name="lodging" />
            </div>
            <div class="form-group">
                <label for="activities" class="form-label">Activities:</label>
                <input class="form-input form-control" type="text" id="activities" name="activities" />
            </div>
            <div class="form-group">
                <label for="experience" class="form-label">Experience:</label>
                <textarea class="form-input form-control" type="text" id="experience" name="experience"></textarea>
            </div>
            <!-- Submit Button -->
            <div class="d-grid gap-3 mb-3">
                <button class="btn btn-secondary w-100" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>


<script src="/js/profile.js"></script>